
.twitter {
  background-color: #55acee;
}

.pixiv {
  background-color: #1673ff;
}

.git {
  background-color: #ff3c00;
}

.blog {
  background-color: #13d47a;
}

.lunch {
  background-color: #ff7f16;
}

.twitter-tl-wrapper {
  text-align: center;
  margin: auto;
}